*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    flex: auto;
    background-color: green;
    padding: 2%;
    color: white;
}

h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
}

.nav{
    display: flex;
    padding-right: 20px;
    justify-content: right;
    background-color: white;
}
.navButton{
    display: inline-block;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 5px;
    border-left: solid;
    border-left-color: lightgreen;
}
.navButton:hover{
    color: blue;
}

.banner{
    display: flex;
    flex: auto;
    width: 100%;
    position: relative;
}

body{
    background-color: lightgreen;
}

.article{
    display: flex;
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px;
    margin: 2%;
}


.sidebar, .card{
    margin: 20px;
}

.sidebar{
    align-self: auto;
    width: 140px;
    text-align: right;
    padding-right: 10px;
    border-right: solid;
    border-right-width: 4px;
    border-right-color: lightgreen;
}

.card{
    display: inline-block;
    width: 100%;
}
.card img{
    height: 15em;
    margin-left: 30%;
    margin-bottom: 15px;
}

#workCardMain, .workCard{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;
    border-radius: 15px;
}
#workCardMain{

}
#workCardMain img{
    opacity: 50%;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
}
#workCardMain img:hover{
    opacity: 80%;
}
.workCard{

}
.workCard img{
    opacity: 50%;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
}
.workCard img:hover{
    opacity: 80%;
}

.contact{
    display: inline-block;
    margin-top: 12px;
    margin-left: auto;
    font-size: 20px;
    padding: 5px;
    border:solid;
    border-radius: 10px;
}

@media (max-width: 600px){
    .article{
        flex-direction: column;
    }
    .sidebar{
       /*Change width and remove right border for cleaner article heading*/
       width: 240px;
       text-align: left;
       border-right: none;
    }
    .card img{
        margin-left: 15%;
    }
    #workCardMain, .workCard{
       margin-right: 40px;
    }
}