*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    flex: auto;
    background-color: green;
    padding: 2%;
    color: white;
}

h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
}

.banner{
    display: flex;
    flex: auto;
    width: 100%;
    position: relative;
}

body{
    background-color: lightgreen;
}

.article{
    display: flex;
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px;
    margin: 2%;
}
@media (max-width: 600px){
    .article{
        flex-direction: column;
    }
}

.sidebar, .card{
    margin: 1.5%;
}

.sidebar{
    align-self: auto;
    width: 120px;
    text-align: right;
    padding-right: 10px;
    border-right: solid;
    border-right-width: 2px;
    border-right-color: black;
    flex-shrink: 0;
}

.card{
    
}